In [126]:
import pandas as pd

In [129]:
df = pd.read_csv('GDPlist.csv',encoding= 'unicode_escape')
df

          Country      Continent  GDP (millions of US$)
0     Afghanistan           Asia                  18181
1         Albania         Europe                  12847
2         Algeria         Africa                 190709
3          Angola         Africa                 100948
4       Argentina  South America                 447644
..            ...            ...                    ...
120    Uzbekistan           Asia                  45353
121     Venezuela  South America                 315841
122       Vietnam           Asia                 122722
123         Yemen         Africa                  33675
124        Zambia         Africa                  19206

[125 rows x 3 columns]

In [131]:
df.shape

(125, 3)

In [133]:
df.info

<bound method DataFrame.info of           Country      Continent  GDP (millions of US$)
0     Afghanistan           Asia                  18181
1         Albania         Europe                  12847
2         Algeria         Africa                 190709
3          Angola         Africa                 100948
4       Argentina  South America                 447644
..            ...            ...                    ...
120    Uzbekistan           Asia                  45353
121     Venezuela  South America                 315841
122       Vietnam           Asia                 122722
123         Yemen         Africa                  33675
124        Zambia         Africa                  19206

[125 rows x 3 columns]>

In [147]:
df.rename(columns={'Country':'Nuoc','Continent':'Chauluc', 'GDP (millions of US$)' : 'GDP (trieu $)'},inplace=True)

In [158]:
df.insert(1,'Thanhpho',df.loc[:,'Nuoc'])

In [159]:
df

             Nuoc      Thanhpho        Chauluc  GDP (trieu $)
0     Afghanistan   Afghanistan           Asia          18181
1         Albania       Albania         Europe          12847
2         Algeria       Algeria         Africa         190709
3          Angola        Angola         Africa         100948
4       Argentina     Argentina  South America         447644
..            ...           ...            ...            ...
120    Uzbekistan    Uzbekistan           Asia          45353
121     Venezuela     Venezuela  South America         315841
122       Vietnam       Vietnam           Asia         122722
123         Yemen         Yemen         Africa          33675
124        Zambia        Zambia         Africa          19206

[125 rows x 4 columns]

In [163]:
df['Thanhpho'].replace('Vietnam','Hanoi',inplace = True)

In [166]:
df.drop(df.loc[df['Chauluc'] == 'Asia'].index, axis = 0, inplace=True)

In [167]:
df.drop(df.loc[df['GDP (trieu $)'] < 300000].index, axis = 0, inplace=True)